<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BranchIOExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70ADBE831D61B6BA009CDCFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ADBE9C1D61B6BB009CDCFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ADBEA71D61B6BB009CDCFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
